# /opt/logstash/bin/logstash -f logstash/flamework-logstash.conf
# https://www.elastic.co/guide/en/logstash/current/configuration-file-structure.html

# https://www.elastic.co/guide/en/logstash/2.3/plugins-inputs-redis.html

input {
       redis { data_type =>  "channel" key => "flogstash" }
}

filter {

}

# https://www.elastic.co/guide/en/logstash/2.3/plugins-outputs-redis.html

output {

       if [@event] == "api" {
              file { path => "/usr/local/mapzen/flamework-logs/flamework-api-%{+YYYY-MM-dd}.txt" "file_mode" => 0640 flush_interval => 0 }
	      elasticsearch { "index" => "api" }
       }

       if [@event] == "offline_tasks" {
              file { path => "/usr/local/mapzen/logs/flamework-offline-tasks-%{+YYYY-MM-dd}.txt" "file_mode" => 0640 flush_interval => 0 }
	      elasticsearch { "index" => "offline-tasks" }
       }

       if [@event] == "error" {
              file { path => "/usr/local/mapzen/logs/flamework-error-%{+YYYY-MM-dd}.txt" "file_mode" => 0640 flush_interval => 0 }
              redis { data_type =>  "channel" key => "error" }
       }

       if [@event] == "omgwtf" {
              redis { data_type =>  "channel" key => "omgwtf" }
       }

       # redis { data_type =>  "channel" key => "debug" }
}